<div class="container" style="background: none;">
    <h2><span class="highlight-gold">Additional Resources</span></h2>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 p-3">
        <div class="container" style="background: none;">
          <div class="row">
            <div class="uds-grid-links two-columns null">
                <a href="/assets/Career-Readiness-Self-assessment-Checklist.pdf" target="_blank" download >Career Readiness Checklist</a>
                <a href="https://career.asu.edu/"><span class=""></span>General Career Services</a>
                <a href="https://career.eoss.asu.edu/resources/what-can-i-do-with-this-major/"><span class=""></span>Careers by Major</a>
                <a href="https://asu.campuslabs.com/engage/organizations"><span class=""></span>Student Organizations</a>
                <a href="https://asu.joinhandshake.com/stu"><span class=""></span>Job Opportunities</a>
                <a href="https://career.eoss.asu.edu/channels/resume-application-materials/"><span class=""></span>Resume Help</a>
                <a href="https://workplus.asu.edu/resources-students"><span class=""></span>Student Employee Hub</a> 
                <a href="https://career.eoss.asu.edu/channels/career-advising/"><span class=""></span>Career Advising</a>
            </div>
          </div>
        </div>
    </div>
  </div>
  </div>