<!--<div class="background-panel bg network-black" style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; z-index: -1;">    
    <div class="main-content" style="position: relative; z-index: 1; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <div class="logo">
            <img src="assets/dplogo.png" alt="Logo" style="max-width: 100px;">
        </div>
        <h1 style="color: #FFFFFF; text-align: center; font-size: 48px;">Devils Pathway</h1>
        <button [routerLink] = "['/student-info']" class="btn btn-gold">Explore Careers</button>
    </div>
</div> -->

<!--<section class="uds-story-hero uds-story-hero-lg entry-header">
    <img
      class="hero"
      src="assets/dpbackground.png"
      alt="Sample placeholder image."
      width="100%"
      height="auto"
      loading="lazy"
      decoding="async"
      fetchpriority="high"
    />
  </section>-->
<div class="uds-hero-lg has-btn-row">
    <div class="hero-overlay"></div>
    <img
        class="hero"
        src="assets/dpbackgroundwtext.png"
        alt="Sample placeholder image."
        width="2560"
        height="512"
        loading="lazy"
        decoding="async"
        fetchpriority="high"
    />
    <div class="content">
        <p class="text-white">
            Navigating Futures: Unfold oppprtunities by telling your story
        </p>
    </div>
    <div class="btn-row">
        <a
            [routerLink] = "['/student-info']" 
            class="btn btn-default btn-gold"
            data-ga="more quotes"
            data-ga-name="onclick"
            data-ga-event="link"
            data-ga-action="click"
            data-ga-type="internal link"
            data-ga-region="main content"
            data-ga-section="gettysburg address"
        >
            Explore Pathways
        </a>
    </div>
</div>

